

.container {
  display: flex;
  flex-direction: row;
  background-color: grey;
}

.box {
  width: 10%;
  height: 100px;
  background-color: rgb(237, 105, 105);
  border: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin:5%;
}

.centered {
  align-self: center;
}

.opacity {
  opacity: 0.5;
}
